#logo {
	/*width: 184px;*/
	height: 4rem;
}
.nav-textbox-search {
	width: 33rem !important;
    height: 3rem !important;
    background-color: #f1f3f4 !important;
    border: none !important;
}
.box-shadow-nav {
	box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.05);
}
#navbarText {
    margin-left: 9rem;
}
.row {
    /*margin-right: 0 ! important;*/
    margin-right: -16px;
}
.nav-link {
    color: #fff;
}
.row-ketqua {
    padding-top: 1rem;
}

div.imgheader>img {
    width:260px !important;
    height:150px;
    margin-left:-6px;
}

.card-ketqua {
	display: inline-flex;
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid #dadce0;
    background-color: #fff;
}
.card-img-left	 {
	border-radius: 8px;
	width: 8rem;
    height: auto;
}

/*Begin; Responsive*/
/* Dành cho điện thoại */
/*@media all and (min-width: 320px) {...<span style="line-height: 1.5;"></span>}*/
 
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
	.nav-textbox-search {
		width: 17rem !important;

	}
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {}
/*End; Responsove*/